<!-- Course1 -->
<section
         id="course"
         class="pt-20 pb-20 text-gray-600 body-font relative">
  <div class="container px-5 pb-5 mx-auto text-center text-gray-600">
    <h2 class="mb-8 font-extrabold text-transparent text-8xl bg-clip-text bg-gradient-to-r from-purple-400 to-pink-600">Course</h2>
    <p class="text-base mb-5 leading-8">未経験からでもスタートができるよう、カリキュラムは多くの専門家や<br class="hidden lg:inline-block">現役チーズ職人のアドバイスのもと、作られました。</p>
  </div>
  <div class="container w-10/12 p-5 pb-0 mx-auto flex flex-wrap md:flex-row flex-col items-stretch">
    <div class="w-full md:w-1/2 mb-10 md:mb-0 order-1 md:order-1">
      <img class="object-cover object-center w-full h-full" alt="hero" src="https://masahiro111.github.io/html_masahiro_T60/img/about_01.jpg">
    </div>
    <div class="w-full md:w-1/2 md:p-16 flex flex-col md:items-start md:text-left items-center text-center order-2 md:order-2">
      <h1 class="title-font sm:text-3xl text-2xl mb-4 font-medium text-gray-900" style="line-height: 1.5;">本格的な農園を使った
        <br class="hidden lg:inline-block">実地研修
      </h1>
      <p class="leading-8">チーズアカデミーでは、本格的な農園を使った実地研修を行うことができます。プロとして活躍するチーズ職人も使用するような、広大で環境も整った農園を余すところなく使い、卒業時には本格的なチーズを自分の力で作れる実践力の養成を目指します。</p>
    </div>
    <div class="w-full md:w-1/2 md:p-16 flex flex-col md:items-start md:text-left items-center text-center order-4 md:order-3">
      <h1 class="title-font sm:text-3xl text-2xl mb-4 font-medium text-gray-900" style="line-height: 1.5;">必要な知識も
        <br class="hidden lg:inline-block">しっかりと取得できる
      </h1>
      <p class="leading-8">チーズ作りには、しっかりとした食に関する知識が 欠かせません。チーズアカデミーでは、一流講師陣による、 チーズ作りに必要ないろはを余すところなく学べます。 チーズそのものでなく、栄養学全般を学ぶことも 可能ですので、チーズ以外への展開も夢ではないでしょう。</p>
    </div>
    <div class="w-full md:w-1/2 mb-10 md:mb-0 order-3 md:order-4">
      <img class="object-cover object-center w-full h-full" alt="hero" src="https://masahiro111.github.io/html_masahiro_T60/img/about_02.jpg">
    </div>
    <div class="w-full md:w-1/2 mb-10 md:mb-0 order-5 md:order-5">
      <img class="object-cover object-center w-full h-full" alt="hero" src="https://masahiro111.github.io/html_masahiro_T60/img/about_03.jpg">
    </div>
    <div class="w-full md:w-1/2  md:p-16 flex flex-col md:items-start md:text-left items-center text-center order-6 md:order-6">
      <h1 class="title-font sm:text-3xl text-2xl mb-4 font-medium text-gray-900" style="line-height: 1.5;">卒業制作はティスティング審査あり
      </h1>
      <p class="leading-8">チーズアカデミーでは最後の2ヶ月間で卒業制作を実施。 卒業制作として、チーズ作りを実際に行います。卒業後、 一般参加によるティスティング審査があるため、作り手の 目線だけでなく、消費者の目線から、卒業制作作品としての チーズを、しっかりと評価いただくことができます。</p>
    </div>
  </div>
</section>
<!-- /Course -->