<!-- About2 -->
<section
         id="about"
         class="pt-20 pb-20 text-gray-600 body-font relative">
  <div class="container w-10/12 py-0 px-5 pb-0 mx-auto flex flex-wrap md:flex-row flex-col items-stretch">
    <div class="w-full md:w-1/2 mb-10 md:mb-0 order-1 md:order-1 bg-cover pt-16 pr-16 pb-16">
      <img class="object-cover object-center w-full h-full" alt="hero" src="img/about_01.jpg">
    </div>
    <div class="w-full md:w-1/2 md:p-16 flex flex-col md:items-start md:text-left items-center text-left order-2 md:order-2">
      <h2 class="-mt-4 mb-10 font-extrabold text-transparent text-8xl bg-clip-text bg-gradient-to-r from-purple-400 to-pink-600">About</h2>
      <p class="text-base mb-4 leading-8">チーズアカデミーは、チーズ職人養成学校です。チーズの素晴らしさを、自給自足を通じて、できるだけ多くの人に知っていただきたい。そして、食卓にはいつもチーズがあった、あの頃の当たり前をこの手で取り戻したい。そんな思いから、チーズ職人養成学校「チーズアカデミーTOKYO」は歩みを始めています。</p>
      <div class="pt-4 w-full">
        <button class="w-52 block mr-auto tracking-widest text-white bg-fuchsia-600 border-0 py-2 px-12 focus:outline-none hover:bg-fuchsia-800 rounded-sm font-bold">詳細をみる</button>
      </div>
    </div>
  </div>
</section>
<!-- /About -->