<!-- hero5 -->
<div
     class="p-12 w-full relative overflow-hidden bg-gradient-to-tr from-gray-700 to-gray-200"
     style="height: 540px;">
  <div
       class="absolute top-0 right-0 bottom-0 left-0 overflow-hidden bg-fixed"
       style="background-color: rgba(0, 0, 0, 0.35);">
    <img
         class=" object-cover w-full h-full absolute mix-blend-overlay"
         style="filter: blur(7px);"
         src="https://masahiro111.github.io/html_masahiro_T60/img/mainbg.png"
         alt="main image">
    <div class="absolute top-0 bottom-0 left-0 w-full  flex justify-center items-center h-full">
      <div class="text-right text-white container w-10/12 mx-auto">
        <h2 class="text-right text-opacity-85 text-white text-5xl md:text-6xl mb-8 drop-shadow-md leading-snug">Make Cheese,<br>Change the World.</h2>
        <h4 class="text-right  font-serif font-bold text-lg mb-10">チーズ職人養成学校 チーズアカデミーTOKYO</h4>
        <a
           class="inline-block px-8 py-3 border-2 border-gray-200 text-gray-200 font-medium leading-snug rounded hover:bg-black hover:bg-opacity-20 focus:outline-none focus:ring-0 transition duration-150 ease-in-out"
           href="#">問い合わせる</a>
      </div>
    </div>
  </div>
</div>
<!-- /hero -->