<!-- header3 -->
<header class="text-gray-600 body-font">
  <div class="container w-10/12 mx-auto p-5">
    <nav class="flex flex-wrap items-center text-base justify-center gap-x-12 gap-y-0">
      <a class="hover:text-gray-900">TOP</a>
      <a class="hover:text-gray-900">ABOUT</a>
      <a class="hover:text-gray-900">COURSE</a>
      <a class="flex items-center mb-4 md:mb-0">
        <img class="h-12 md:h-8 " src="https://masahiro111.github.io/html_masahiro_T60/img/header_logo.png" alt="">
      </a>
      <a class="hover:text-gray-900">NEWS</a>
      <a class="hover:text-gray-900">ACCESS</a>
      <a class="hover:text-gray-900">CONTACT</a>
    </nav>
  </div>
</header>
<!-- /header -->