<!-- header5 -->
<header class="bg-gray-900 text-white  body-font">
  <div class="container w-10/12 mx-auto flex justify-end flex-wrap p-5 flex-col md:flex-row items-center">
    <nav class="flex flex-wrap items-center text-base justify-center gap-x-12 gap-y-0">
      <a class="hover:text-gray-300">ABOUT</a>
      <a class="hover:text-gray-300">COURSE</a>
      <a class="hover:text-gray-300">NEWS</a>
      <a class="hover:text-gray-300">ACCESS</a>
      <a class="hover:text-gray-300">CONTACT</a>
    </nav>
    <a class="flex items-center mb-4 md:mb-0">
      <img class="h-12 ml-16 md:h-8 " src="https://masahiro111.github.io/html_masahiro_T60/img/header_logo_white.png" alt="">
    </a>
  </div>
</header>
<!-- /header -->